
form {
    padding: 20px;
    margin: 20px auto;
    max-width: 900px;
    /* box-shadow: 0 0 15px var(--primary-color); */
    /* border: white 2px solid; */
  }
  /* Global Styles */
body {
  font-family: "Arial", sans-serif;
  margin: 0;
  padding: 0;
}

main {
  padding: 20px;
  margin: 20px auto;
  max-width: 900px;
  /* box-shadow: 0 0 15px var(--primary-color); */
  /* border: white 2px solid; */
}
