<div class="skills">
  <h2>Skills</h2>
  <p>
    Proficient in full-stack web development using the MEAN Stack (MongoDB,
    Express, Angular, Node.js). Experienced in building and optimizing APIs,
    database design, and seamless integration with Postman testing. Skilled in
    delivering scalable, user-friendly solutions with a focus on problem-solving
    and clean, maintainable code.
  </p>
  <p>HTML</p>
  <div class="progress">
    <div
      class="progress-bar bg-success"
      role="progressbar"
      style="width: 25%"
      aria-valuenow="25"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <hr />
  <p>CSS</p>
  <div class="progress">
    <div
      class="progress-bar bg-info"
      role="progressbar"
      style="width: 50%"
      aria-valuenow="50"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <hr />
  <p>JavaScript</p>

  <div class="progress">
    <div
      class="progress-bar bg-warning"
      role="progressbar"
      style="width: 75%"
      aria-valuenow="75"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <hr />
  <p>Bootstrap</p>

  <div class="progress">
    <div
      class="progress-bar bg-danger"
      role="progressbar"
      style="width: 100%"
      aria-valuenow="100"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <hr />
</div>
