<div id="about">
  <div id="home" class="profile-card">
    <img
      src="picture-profile-icon-male-icon-human-or-people-sign-and-symbol-free-vector.jpg"
      alt="Profile Picture"
    />
    <h2>Mohamed Abusaif</h2>
    <p>
      Software Engineer <br />
      Backend Developer <br />
      Cyberpunk Enthusiast
    </p>
  </div>

  <div id="text">
    <p>
      A passionate developer creating futuristic solutions. Exploring cyberpunk
      themes in web development.
    </p>
    <a href="" id="LinkedInButton"> Visit my LinkedIn Profile </a>
  </div>
</div>
